.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;

  &__nav {
    color: $primary-color;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
