.golf-ball1 {
  width: 38vh;
  height: 38vh;
  position: absolute;
  top: 70vh;
  left: 12vw;
  z-index: -1;

  @include screen-tablet {
    width: 25vh;
    height: 25vh;
    top: 80vh;
    left: 12vw;
  }
}

.golf-ball2 {
  width: 10vh;
  height: 10vh;
  position: absolute;
  bottom: 20vh;
  left: 12vw;
}

.golf-ball3 {
  width: 5vh;
  height: 5vh;
  position: absolute;
  bottom: 18vh;
  left: 35vw;
}

.golf-ball4 {
  height: 30vh;
  position: absolute;
  bottom: 5vh;
  right: 0;
}
