$primary-color: #271e53;
$secondary-color: #e10e33;
$tertiary-color: #78787c;

$breakpoints: (
  Laptop4K: 2560px,
  LaptopL: 1440px,
  Laptop: 1024px,
  Tablet: 768px,
  MobileL: 425px,
  MobileS: 320px,
);
